<div class="{{ class }}">
  {{ teaser }}
    <div class="grid grid-cols-12 gap-30 border-2 lg:border-3 border-scarlet pt-5 pb-20 lg:pb-30 lg:pt-10 pl-20 lg:pl-40 pr-15 lg:pr-30">
        <div class="col-span-full md:col-span-6 lg:col-span-6">
          {{ partial:components/headings/h2 class="text-scarlet text-2xl lg:text-3xl xl:text-4xl" }}
            Spezial
          {{ /partial:components/headings/h2 }}
          {{ partial:components/headings/h3 class="{{ special_teaser_theme == 'dark' ? 'text-white' : 'text-navy' }} uppercase text-md lg:text-lg xl:text-xl mb-10 lg:mb-15 leading-[1.1] text-pretty" }}
            {{ title | nl2br }}
          {{ /partial:components/headings/h3 }}
          {{ partial:components/editor/wrapper class="{{ special_teaser_theme == 'dark' ? 'text-white' : 'text-navy' }}" is_special="true" }}
        </div>
        {{ partial:components/media/image
          :image="image"
          preset="teaser"
          :sizes="['2xl', 'xl', 'lg']"
          eager="false"
          wrapperClass="hidden md:block col-span-full md:col-span-6 lg:col-span-6 pt-16 lg:pt-30"
          class="w-full h-full object-cover" }}
    </div>
  {{ /teaser }}
</div>
