<article class="max-w-prose {{ class ? class : '[&_h2]:text-navy [&_h2]:text-balance [&_h2]:text-md md:[&_h2]:text-lg [&_h2]:mb-5 md:[&_h2]:mb-10' }}">
  {{ editor }}

    {{ if type == 'text' }}
      {{ text }}
    {{ /if }}

    {{ if type == 'link' }}
      <div class="my-15 md:my-30 last:mb-0">
        {{ partial:components/editor/button url="{{ link }}" target="{{ target  ?? '_blank' }}" text="{{ link_text }}" }}
      </div>
    {{ /if }}

    {{ if type == 'link_group' }}
      <div class="my-15 md:my-30 last:mb-0 flex {{ orientation == 'vertical' ? 'flex-col gap-y-10 md:gap-y-20' : 'flex-wrap gap-x-15 md:gap-x-30' }}">
        {{ link }}
          {{ partial:components/editor/button url="{{ link }}" target="{{ target  ?? '_blank' }}" text="{{ link_text }}" }}
        {{ /link }}
      </div>
    {{ /if }}

    {{ if type == 'information' }}
      {{ partial:components/editor/info }}
    {{ /if }}
    
  {{ /editor }}

</article>
