  {{# <div class="absolute top-0 left-0 w-full h-160 lg:h-[360px] bg-[#002D55] bg-[radial-gradient(circle_at_50%_35%,_#0093c8_0%,_#0f4f77_30%,_#002D55_50%)]"></div>
  <div class="absolute top-160 lg:top-[360px] left-0 w-full h-[220px] bg-white">
    {{ partial:layout/container/outer class="relative -top-100 lg:-top-[230px]" }}
      {{ partial:components/media/image 
        :image="header_image" 
        eager="true"
        class="w-full h-full object-contain" }}
    {{ /partial:layout/container/outer }}
  </div> #}}
  {{# {{ partial:layout/container/outer }}

    <div 
      class="flex items-center"
      x-data="menuToggle()">

      <div>
        {{ partial:menu/main/button }}
      </div>

      {{ partial:menu/main/wrapper }}
    </div>
  {{ /partial:layout/container/outer }} #}}