<div class="h-30 lg:h-50 w-full bg-pattern relative z-20" aria-hidden="true">
</div>
<footer class="w-full bg-navy py-30 lg:py-50 text-white z-20">
  {{ partial:layout/container/outer }}
    <div class="flex flex-col gap-y-30 md:flex-row md:gap-x-30 xl:gap-x-80">
      <a href="/" 
        aria-label="Startseite" 
        class="block group">
        {{ partial:icons/logo }}
      </a>
      <div class="w-full flex flex-col gap-y-30 md:grid md:grid-cols-8 lg:gap-y-0 md:gap-x-30 text-xxs [&_a]:no-underline [&_a]:decoration-1 [&_a]:underline-offset-4 [&_a:hover]:underline [&_h4]:text-xs [&_h4]:uppercase [&_h4]:mb-15">
        {{ if footer:contact }}
          <div class="border-t-3 border-white pt-14 md:col-span-4 lg:col-span-2">
            {{ footer:contact }}
          </div>
        {{ /if }}
        {{ if footer:catering }}
          <div class="border-t-3 border-white pt-14 md:col-span-4 lg:col-span-2">
            {{ footer:catering }}
          </div>
        {{ /if }}
        {{ if footer:operations }}
          <div class="border-t-3 border-white pt-14 md:col-span-4 lg:col-span-2">
            {{ footer:operations }}
          </div>
        {{ /if }}
        {{ if footer:links }}
          <div class="border-t-3 border-white pt-14 [&_h4]:!mb-0 md:col-span-4 lg:col-span-2">
            {{ footer:links }}
          </div>
        {{ /if }}
      </div>
    </div>
  {{ /partial:layout/container/outer }}
</footer>
{{ vite src="resources/js/app.js" }}
