<header class="relative w-full bg-green-500">
  <div class="relative z-20 bg-[#002D55] bg-[radial-gradient(circle_at_50%_35%,_#0093c8_0%,_#0f4f77_30%,_#002D55_50%)] after:bg-white after:content-[''] after:block after:w-full after:h-[20%] md:after:h-[30%] after:bottom-0 after:left-0 after:absolute after:z-10">
    {{ partial:components/media/image 
      :image="header_image" 
      eager="true"
      wrapperClass="w-full mx-auto px-20 max-w-outer-container relative z-20 top-[5vh]"
      class="w-full h-auto aspect-[16/7] md:aspect-[16/6] object-cover" }}
  </div>
</header>