{{# <main 
  role="main" 
  class="w-full pt-[var(--header-height-sm)] lg:pt-[var(--header-height-lg)]">
  {{ template_content }}
</main> #}}

<main class="flex flex-col">
  <!-- Radial gradient background, full height -->
  <section class="w-full min-h-screen bg-[#082849] bg-[radial-gradient(circle_at_50%_35%,_#0093c8_0%,_#0f4f77_30%,_#082849_55%)]"></section>

  <section class=" min-h-screen">
    <div class="relative bg-white">
      <!-- Top diagonal stripe pattern -->
      <div class="h-250 w-full bg-pattern" aria-hidden="true">
      </div>
    
      <!-- Content container -->
      <div class="relative mx-auto max-w-6xl px-6">
        <!-- Overlapping ratio box -->
        <div
          class="-mt-120 overflow-hidden bg-neutral-300 aspect-[16/9]">
          <!-- Placeholder for image -->
        </div>
        adsf
      </div>
    </div>
    
    
  </section>

</main>
