{{ partial:layout/container/inner class="mt-30 lg:mt-50 pb-50" }}
  <div class="grid grid-cols-16 gap-y-30 md:gap-x-30">
    <div class="col-span-full lg:col-span-10 xl:col-span-11">
      <article class="max-w-prose text-white [&_h2]:text-white [&_h2]:text-md md:[&_h2]:text-lg [&_h2]:mb-5 md:[&_h2]:mb-10">
        {{ editor }}

          {{ if type == 'text' }}
            {{ text }}
          {{ /if }}

          {{ if type == 'link' }}
            {{ partial:components/button wrapperClass="my-15 md:my-30" url="{{ link }}" target="{{ target  ?? '_blank' }}" text="{{ link_text }}" }}
          {{ /if }}

        {{ /editor }}
      </article>
    </div>
    <div class="col-span-full lg:col-span-6 xl:col-span-5 md:mt-13">
      <aside class="sm:flex sm:gap-x-20 lg:gap-x-0 lg:block">

        <div class="max-w-xs">
          {{ partial:components/info }}
        </div>
        <div class="max-w-xs">
          {{ partial:components/weather }}
        </div>

      </aside>
    </div>
  </div>
{{ /partial:layout/container/inner }}