{{ partial:layout/container/inner class="grid grid-cols-16 gap-30 mt-30 lg:mt-50 pb-50" }}
  <div class="col-span-full md:col-span-8 lg:col-span-11">
    <article class="max-w-prose text-white [&_h2]:text-white [&_h2]:text-md md:[&_h2]:text-lg [&_h2]:mb-5 md:[&_h2]:mb-10">
      {{ editor }}

        {{ if type == 'text' }}
          {{ text }}
        {{ /if }}

        {{ if type == 'link' }}
          {{ partial:components/button wrapperClass="my-15 md:my-30" url="{{ link }}" target="{{ target  ?? '_blank' }}" text="{{ link_text }}" }}
        {{ /if }}

      {{ /editor }}
    </article>
  </div>
  <div class="col-span-full md:col-span-4 lg:col-span-5 md:mt-13">
    <aside class="sm:flex sm:gap-x-20 md:gap-x-0 md:block">

      <div class="max-w-xs">
        {{ partial:components/info }}
      </div>
      <div class="max-w-xs">
        {{ partial:components/weather }}
      </div>

    </aside>
  </div>
{{ /partial:layout/container/inner }}