{{ partial:partials/layout/container/section }}

  {{ elements }}

    {{ if type == 'element_text' }}
      {{ partial:components/text }}
    {{ /if }}

    {{ if type == 'element_text_image' }}
      {{ partial:components/text_image }}
    {{ /if }}

    {{ if type == 'teasers' }}
     {{ partial:components/teaser/wrapper }}
    {{ /if }}

    {{ if type == 'sponsors' }}
      {{ partial:components/sponsors }}
    {{ /if }}

    {{ if type == 'map' }}
      {{ partial:components/map }}
    {{ /if }}

    {{ if type == 'contact_form' }}
      {{ partial:components/forms/contact }}
    {{ /if }}

    {{ if type == 'hero' }}
      {{ partial:components/hero }}
    {{ /if }}

    {{ if type == 'special_teaser' }}
      {{ partial:partials/layout/container/inner }}
        {{ partial:components/special_teaser/wrapper }}
      {{ /partial:partials/layout/container/inner }}
    {{ /if }}

    {{ if type == 'course_list' }}
      {{ partial:courses/list }}
    {{ /if }}

  {{ /elements }}

{{ /partial:partials/layout/container/section }}