@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

:root {
  --header-height-sm: 4.5rem;  /* 72 px */
  --header-height-lg: 6.5rem;  /* 104 px */
}

main {
  @apply flex-1;
}

.bg-pattern {
  @apply bg-[repeating-linear-gradient(-45deg,_#38bdf8_0px,_#38bdf8_8px,_#ffffff_8px,_#ffffff_11px)]
}

p:not(:last-child) {
  @apply mb-16
}

strong {
}

h1,
h2,
h3,
h4 {
  @apply font-bold uppercase;
}
