@import "typo/webfonts.css";
@import "mapbox.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

:root {
  --header-height-sm: 4.5rem;  /* 72 px */
  --header-height-lg: 6.5rem;  /* 104 px */
}

main {
  @apply flex-1;
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-15 lg:mb-25
}

p:has(+ ul) {
  @apply !mb-0
}

ul {
  @apply list-disc ml-16
}

strong {
  @apply font-bold;
}

h1,
h2,
h3,
h4 {
  @apply font-bold text-pretty;
}

h1,
h2 {
  @apply uppercase
}

h2:not(:first-of-type) {
  @apply mt-20 lg:mt-30
}

/* Page specific */
.is-homepage h1 {
  @apply text-white text-xl md:text-2xl leading-[1.1] mb-15 lg:mb-25;
}


/* Containers */
.max-w-inner-container + .max-w-inner-container {
  @apply mt-30 lg:mt-60;
}

/* Sections */
section.bg-white + section.bg-white,
section.bg-sky + section.bg-sky {
  @apply !pt-10 lg:!pt-20;
}

/* Patterns */
.bg-pattern {
  /* @apply bg-[repeating-linear-gradient(-45deg,_#0096CD_0px,_#0096CD_6px,_#ffffff_6px,_#ffffff_8px)] */
  /* https://stripesgenerator.com/ */
  background-image: linear-gradient(135deg, #ffffff 12.50%, #0096cd 12.50%, #0096cd 50%, #ffffff 50%, #ffffff 62.50%, #0096cd 62.50%, #0096cd 100%);
  background-size: 11.31px 11.31px;
}

/* Map marker */
.marker {
  @apply cursor-pointer h-50 w-40 bg-[url('../icons/marker.svg')] bg-contain bg-no-repeat
}

/* Form elements */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
textarea {
  @apply block bg-white text-navy w-full border-none py-10 px-15 lg:py-15 lg:px-20 placeholder:block placeholder:text-navy placeholder:mt-5 placeholder:!leading-none !outline-none !ring-0

}

input[type=checkbox] {
  @apply !w-18 !h-18 bg-white accent-navy appearance-none border-none checked:bg-white relative;
}

input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='3'%3E%3Cpath d='M20 6L9 17L4 12'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}

textarea {
  field-sizing: content;
  @apply min-h-[125px] text-navy placeholder:text-navy
}
