<div 
  class="absolute right-0 lg:right-20 -top-50 md:-top-30 z-90 bg-azure pr-20 pt-40 md:pt-20 pb-40 min-w-1/2 md:min-w-1/3 lg:max-w-[280px] shadow-[-4px_4px_12px_0px_rgba(0,0,0,0.4)]"
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0">
  
  <span class="flex justify-end mb-30 relative top-2 md:top-1 lg:top-3 right-3">
    {{ partial:menu/main/buttons/hide class="text-white w-20 md:w-24 h-auto" }}
  </span>

  <nav>

    <ul class="leading-none flex flex-col gap-y-20 [&_a]:font-bold [&_a]:uppercase [&_a]:text-white [&_a]:text-sm md:[&_a]:text-md">
      {{ nav:main }}
        {{ partial:menu/main/item }}
      {{ /nav:main }}
    </ul>

  </nav>

</div>
