<div 
  class="fixed left-0 top-145 w-full z-10"
  x-cloak 
  x-show="isOpen"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0">
  
  <nav class="flex flex-col gap-y-15 lg:gap-y-20 w-full mx-auto max-w-outer-container lg:px-30">
    <ul class="leading-none">
      {{ nav:main }}
        {{ partial:menu/main/item }}
      {{ /nav:main }}
    </ul>

  </nav>

</div>
