{{ partial:partials/layout/container/section theme_color="bg-white" }}
  {{ partial:partials/layout/container/inner }}

    {{ partial:components/headings/h1 }}
      {{ level:title }} – {{ title }}
    {{ /partial:components/headings/h1 }}

    <article class="max-w-prose [&_h2]:text-navy [&_h2]:text-md md:[&_h2]:text-lg [&_h2]:mb-5 md:[&_h2]:mb-10">

      {{ partial:components/headings/h2 }}
        {{ course_date iso_format="dddd, Do MMMM YYYY" }}<br>
        {{ course_start iso_format="H.mm" }}{{ if course_end }} – {{ course_end iso_format="H.mm" }}{{ /if }} Uhr
      {{ /partial:components/headings/h2 }}

      {{ text_block }}
        {{ content }}
      {{ /text_block }}

      {{ if show_disclaimer }}
        <h3>Haftung</h3>
        <p>Versicherung ist Sache der Teilnehmenden. Ehrziehungsberechtigte Personen haften für ihre Kinder.</p>
      {{ /if }}

    </article>

  {{ /partial:partials/layout/container/inner }}
{{ /partial:partials/layout/container/section }}

{{ partial:partials/layout/container/section theme_color="bg-sky" }}

  {{ partial:partials/layout/container/inner }}

    {{ partial:components/headings/h2 class="text-xl md:text-2xl leading-none mb-20 lg:mb-40" }}
      Anmeldung
    {{ /partial:components/headings/h2 }}

    <div id="course-form">
      <course-registration :course-id="'{{ id }}'"></course-registration>
    </div>

  {{ /partial:partials/layout/container/inner }}

{{ /partial:partials/layout/container/section }}

